@model TabloidMVC.Models.ViewModels.ProtectAdminViewModel
@Html.DisplayForModel()
@{
    ViewData["Title"] = "Edit";
}
@if (Model.CanDemote == false)
{
    <h3>This is the only Admin account, please make another Admin before you demote this user.</h3>
}
else
{

<h1>Edit</h1>

<h4>UserProfile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="userProfile.Id" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="userProfile.UserTypeId" class="control-label"></label>
                <input asp-for="userProfile.UserTypeId" class="form-control" />
                <span asp-validation-for="userProfile.UserTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
