@model TabloidMVC.Models.UserProfile

@{
    ViewData["Title"] = "Reactivate";
}

<h1>Reactivate</h1>

<h4>UserProfile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Reactivate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" type="hidden" />
            </div>
            <p>Are you sure you would like to reactivate this user?</p>
            <div class="form-group">
                <input type="submit" value="Reactivate User" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
